/** @format */

header {
  background-color: #371b58;
  color: whitesmoke;
  height: 200px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* css photo de profil */
#photo_profil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ca82ff;
}

/* css icon header  */

.icon-header {
  font-size: 1.2em;
  width: 100%;
  padding: 10px 10px;
}

.icon-header.icon-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon-parent {
  margin: 5px 5px;
}

.icon-parent i {
  background-color: #14c38e;
  padding: 10px;
  border-radius: 50%;
}
